<div class='container'>
  <div class='contact-form'>
    <div class='contact-form__left'>
      <input type='text' class='input-element' placeholder='Full name'/>
      <input type='text' class='input-element' placeholder='Email'/>
      <input type='text' class='input-element' placeholder='Phone'/>
      <input type='text' class='input-element' placeholder='Subject'/>
    </div>
    <div class='contact-form__right'>
      <textarea class='input-element input-element__textarea' placeholder='Your message here'>
      </textarea>
      <button class='btn'>Send</button>
    </div>
    </div>
  </div>
</div>
