Hi, <%= @full_name %>!

We have received your inquiry on subject of<br/>
"<%= @subject %>".

You will be contacted either through email or by the phone<br/>
number you entered in the contact form!
(<%= @phone %>)<br/>

Your inquiry:
<p><%= @message %></p>

Best of luck!
